<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Try On</title>
    <link rel="stylesheet" href="static\results\css\style.css">
</head>
<body>
    <div class="container">
        <video autoplay muted loop plays-inline class="video">
            <source src="static\results\pexels_videos_1943483 (2160p) (1) (1).mp4" type="video/mp4" />
        </video>
        <header class="header">
            <div class="logo">
                <a href="#"><h2>StyleSpectrum</h2></a>
            </div>
            <nav class="nav">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="/login">Log in</a>
            </nav>
            
        </header>
        <div class="maintext">
            <div class="leftside">
                <div class="first">
                    <p>Style is the signature of your soul, a silent conversation between your essence and the world</p>
                </div>

                <button class="button-91" ><a href="/login">shopnow</a></button>
            </div>
            <div class="rightside">
                <img src="static\results\bgimage.png" alt="imgof gurl">
            </div>
        </div>
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
  <script src="static\results\js\slider.js"></script>
  <script src="static\results\js\index.js"></script>
</html>          